body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    /* background-color: #f3f3f3; */
    background: url("../images/bg-registration-form-7.jpg") no-repeat;
    background-size: cover;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #011a0c;
    font-family: 'Arial Black', sans-serif;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

h2:hover {
    color: #7c0505;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* background-image: url("path/to/your/image.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #eee;
    color: #333;
}

th {
    background-color: #f8f8f8;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}